<% include ./partials/header %>



    <br><br><br>







    <br><br>


    <div class="section">
      <div class="container-fluid" style="margin: 0px 40px;">
        <div class="col-md-12"><br><br>
          
        </div>
       <div class="col-md-12" style=" text-align: center;">
        <div class="row">
 
         <img src="/img/hello-future-logo-inline-image.png" width="45%"height="450px" style="margin-top: 45px;" >
 
         <br><br><br>
        </div>
       </div>
       <div class="col-md-12" style="padding: 0px 80px;
       ">
           <div class="row" style=" text-align: center;">
    <div class="col-md-12" style="display: flex;
           flex-direction: row;
           justify-content: space-between;padding: 20px 250px; ">
               <a href="/users/admin/events"  style="text-align: center;" class="button_1"><h4 class="dropbtnLogin1"><img src="" alt=""> Edit/Delete Events &nbsp; <i class="fas fa-user-check"></i></h4></a>
               <a href="/users/admin/events"  style="text-align: center;" class="button_1"><h4 class="dropbtnLogin1"><img src="" alt=""> Add Events &nbsp; <i class="fas fa-bell"></i></h4></a>
               <a href="/users/events"  style="text-align: center;" class="button_1"><h4 class="dropbtnLogin1"><img src="" alt=""> View All Events &nbsp; <i class="fas fa-bell"></i></h4></a>
              </div>
    
           </div>
          </div>
 
 
       
       </div>
      </div>
     </div>
    <!-- Footer -->

      <script>
            $(".toggle-password").click(function() {
          
          $(this).toggleClass("fa-eye fa-eye-slash");
          var input = $($(this).attr("toggle"));
          if (input.attr("type") == "password") {
          input.attr("type", "text");
          } else {
          input.attr("type", "password");
          }
          });</script>
          <script>
          $(function() {
                var chk = $('#checkbox');
                var btn = $('#btncheck');
              
                chk.on('change', function() {
                  btn.prop("disabled", !this.checked);//true: disabled, false: enabled
                }).trigger('change'); //page load trigger event
              });</script>
          
          
          <script>
            $(function() {
                  var chk1 = $('#checkbox1');
                  var btn1 = $('#btncheck1');
                
                  chk1.on('change', function() {
                    btn1.prop("disabled", !this.checked);//true: disabled, false: enabled
                  }).trigger('change'); //page load trigger event
                });
                </script>
          
          
          
          <script src="/js/jquery-3.4.1.min.js"></script>
          <script src="/js/custom.js"></script>
          <script>
                function readURL1(input) {
               if (input.files && input.files[0]) {
                   var reader = new FileReader();
          
                   reader.onload = function (e) {
                       $('#imgsrc')
                           .attr('src', e.target.result);
                   };
          
                   reader.readAsDataURL(input.files[0]);
               }
           }
          </script>
          <!--Start of Tawk.to Script-->
          <script>
          function showpassword(el){
          if(el.parentElement.children[1].type == "password"){
            el.parentElement.children[1].type = "text";
            el.style.color = "#227ab3";
          }
          else{
            el.parentElement.children[1].type = "password";
            el.style.color = "black";
          }
          }</script>
             
          </body>
          </html>    